@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padrao:#0aa5f3;
    --padrao-hover: #f95f5f;
    --fonte: #fff;
    --fonte-p: #555;
    --btn: #563434;
    --btn-hover: #15ff00;
    --ftc: #555;
    --ftc-leve: #777; 
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background: radial-gradient(var(--padrao-hover), var(--padrao));
}

.banner .rol{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--fonte);
}

.banner p{
    color: var(--fonte);
}

p{
    color: var(--fonte-p);
}

.rol{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p{
    font-weight: 600;
    color: var(--btn);
}

.btn{
    text-decoration: none;
    color: var(--fonte);
    background: var(--btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.8s;
}

.btn:hover{
    background: var(--btn-hover);
    color: var(--fonte-p);
}

.categorias{
    margin: 70px 0;
}

.corpo-cat{
max-width: 100px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}